@charset 'utf-8';

/* 通用样式*/

h1,
h2,
h3,
p,
span,
div,
li,
a {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
}

.w {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}


/* header */

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  color: #fff;
  background: #fafafa;
}

.header_custom_rev {
  background: rgba(0, 0, 0, .5);
}

.header__left__logo,
.header__right__nav__item {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.header_custom_rev .header__left__logo,
.header_custom_rev .header__right__nav__item {
  color: #fff;
}

.header_custom_rev .header__right__nav__item_status_active {
  color: #f00;
}

.header__left {
  float: left;
}

.header__left__logo {
  font-size: 16px;
  line-height: 60px;
  display: block;
  height: 60px;
  color: #14191e;
}

.header__left__logo:hover {
  color: #f00;
}

.header__left__logo__pic {
  width: 40px;
  height: 40px;
  margin-right: 11px;
}

.header__right {
  float: right;
}

.header__right__nav {
  position: relative;
  margin-top: 10px;
}

.header__right__nav__tip {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 1px;
  content: '';
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: -o-transform .5s;
  -moz-transition: transform .5s, -moz-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
  background: #f00;
}

.header__right__nav__item {
  line-height: 40px;
  display: block;
  float: left;
  width: 60px;
  height: 40px;
  padding-right: 40px;
  text-align: center;
  color: #14191e;
}

.header__right__nav__item_status_active {
  color: #f00;
}

.header__right__nav__item:hover {
  color: #f00;
}

.header__right__nav__btn {
  font-weight: 700;
  line-height: 40px;
  display: block;
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background: #000;
}

.header__right__nav__item_custom_btn:hover {
  color: #c00;
}


/* page-1*/

.page {
  overflow: hidden;
  height: 800px;
  -o-background-size: cover;
     background-size: cover;
}

.page>.w {
  height: 800px;
}

.page-1 {
  background: url(../img/bg-screen-1.png);
}

.page-1__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  position: absolute;
  z-index: 2;
  top: 170px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
}

.page-1__heading i {
  color: #f01414;
}

.page-1__phone {
  position: absolute;
  z-index: 1;
  top: 253px;
  left: -85px;
  width: 1375px;
  height: 305px;
  background: url(../img/screen-1-phone.png);
}

.page-1__shadow {
  position: absolute;
  top: 310px;
  left: -40px;
  width: 1233px;
  height: 411px;
  opacity: .9;
  background: url(../img/screen-1-shadow.png);
}


/* page-1动画*/

.page-1__heading,
.page-1__phone,
.page-1__shadow {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.page-1__heading_status_init {
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.page-1__phone_status_init {
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.page-1__shadow_status_init {
  -webkit-transform: translateY(50%) scale(1.1);
     -moz-transform: translateY(50%) scale(1.1);
      -ms-transform: translateY(50%) scale(1.1);
       -o-transform: translateY(50%) scale(1.1);
          transform: translateY(50%) scale(1.1);
  opacity: 0;
}


/* page-2 */

.page-2 {
  background-color: #fafafa;
}

.page-2__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  position: absolute;
  top: 89px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #f01414;
}

.page-2__subheading {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 192px;
  width: 100%;
  text-align: center;
  color: #07111b;
}

.page-2__phone {
  position: absolute;
  top: 271px;
  left: 136px;
  width: 928px;
  height: 873px;
  background: url(../img/bg-screen-2.png) no-repeat;
}

.page-2__indicatrix {
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  height: 24px;
  padding-right: 111px;
  color: #636c71;
  background: url(../img/icon-point-right.png) right center no-repeat;
}

.page-2__indicatrix_custom_rev {
  padding-left: 111px;
  background: url(../img/icon-point-left.png) left center no-repeat;
}

.page-2__indicatrix_i1 {
  top: 435px;
  left: -12px;
}

.page-2__indicatrix_i2 {
  top: 320px;
  left: 720px;
}

.page-2__indicatrix_i3 {
  top: 650px;
  left: 840px;
}


/* page-2动画*/

.page-2__heading,
.page-2__subheading,
.page-2__phone {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.page-2__heading_status_init {
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.page-2__subheading_status_init {
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.page-2__phone_status_init {
  -webkit-transform: translateY(300px);
     -moz-transform: translateY(300px);
      -ms-transform: translateY(300px);
       -o-transform: translateY(300px);
          transform: translateY(300px);
  opacity: 0;
}

.page-2__indicatrix_i1,
.page-2__indicatrix_i2,
.page-2__indicatrix_i3 {
  -webkit-transition: all .5s .3s;
  -o-transition: all .5s .3s;
  -moz-transition: all .5s .3s;
  transition: all .5s .3s;
}

.page-2__indicatrix_i1_status_init,
.page-2__indicatrix_i2_status_init,
.page-2__indicatrix_i3_status_init {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

.page-2__indicatrix_i1_status_init {
  -webkit-transform: translateX(-30px);
     -moz-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
       -o-transform: translateX(-30px);
          transform: translateX(-30px);
}

.page-2__indicatrix_i2_status_init,
.page-2__indicatrix_i3_status_init {
  -webkit-transform: translateX(30px);
     -moz-transform: translateX(30px);
      -ms-transform: translateX(30px);
       -o-transform: translateX(30px);
          transform: translateX(30px);
}


/* 指示线点闪烁动画 */

.page-2__indicatrix::before,
.page-2__indicatrix::after {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 10px;
  height: 10px;
  content: '';
  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
       -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-radius: 50%;
}

.page-2__indicatrix_custom_rev::before,
.page-2__indicatrix_custom_rev::after {
  left: 6px;
}

.page-2__indicatrix::before {
  -webkit-animation: flicker 1s infinite;
     -moz-animation: flicker 1s infinite;
       -o-animation: flicker 1s infinite;
          animation: flicker 1s infinite;
}

.page-2__indicatrix::after {
  -webkit-animation: flicker 1s infinite .5s;
     -moz-animation: flicker 1s infinite .5s;
       -o-animation: flicker 1s infinite .5s;
          animation: flicker 1s infinite .5s;
}

@-webkit-keyframes flicker {
  0%,
  100% {
    -webkit-transform: scale(.5);
            transform: scale(.5);
    background: rgba(250, 7, 7, .4);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background: rgba(250, 7, 7, .4);
  }
}

@-moz-keyframes flicker {
  0%,
  100% {
    -moz-transform: scale(.5);
         transform: scale(.5);
    background: rgba(250, 7, 7, .4);
  }
  50% {
    -moz-transform: scale(1.5);
         transform: scale(1.5);
    background: rgba(250, 7, 7, .4);
  }
}

@-o-keyframes flicker {
  0%,
  100% {
    -o-transform: scale(.5);
       transform: scale(.5);
    background: rgba(250, 7, 7, .4);
  }
  50% {
    -o-transform: scale(1.5);
       transform: scale(1.5);
    background: rgba(250, 7, 7, .4);
  }
}

@keyframes flicker {
  0%,
  100% {
    -webkit-transform: scale(.5);
       -moz-transform: scale(.5);
         -o-transform: scale(.5);
            transform: scale(.5);
    background: rgba(250, 7, 7, .4);
  }
  50% {
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
    background: rgba(250, 7, 7, .4);
  }
}


/* page-3 */

.page-3 {
  color: #fff;
  background-color: #a71316;
}

.page-3__heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  position: absolute;
  top: 98px;
  height: 36px;
}

.page-3__subheading {
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  top: 170px;
}

.page-3__features {
  position: absolute;
  top: 372px;
  width: 328px;
}

.page-3__features__item {
  float: left;
  width: 138px;
  height: 118px;
  margin: 0 24px 24px 0;
  text-align: center;
  color: #fff;
  border: 1px solid #d97173;
}

.page-3__features__item__data {
  font-size: 30px;
  line-height: 30px;
  height: 30px;
  margin-top: 36px;
  margin-bottom: 12px;
}

.page-3__features__item__desc {
  line-height: 12px;
  height: 12px;
}

.page-3__phone {
  position: absolute;
  top: 203px;
  left: 465px;
  width: 729px;
  height: 900px;
  background: url(../img/bg-screen-3.png);
}


/* page-3动画*/

.page-3__heading,
.page-3__subheading {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.page-3__heading_status_init {
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.page-3__subheading_status_init {
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.page-3__phone {
  -webkit-transition: all .5s .2s;
  -o-transition: all .5s .2s;
  -moz-transition: all .5s .2s;
  transition: all .5s .2s;
}

.page-3__phone_status_init {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.page-3__features {
  -webkit-transition: all .5s .4s;
  -o-transition: all .5s .4s;
  -moz-transition: all .5s .4s;
  transition: all .5s .4s;
}

.page-3__features_status_init {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(.5);
     -moz-transform: scale(.5);
      -ms-transform: scale(.5);
       -o-transform: scale(.5);
          transform: scale(.5);
  opacity: 0;
}

.page-3__features__item:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}


/* 手机特色中的数据摇动动画 */

.page-3__features__item:hover .page-3__features__item__data {
  -webkit-animation: rock 1s 1 linear;
     -moz-animation: rock 1s 1 linear;
       -o-animation: rock 1s 1 linear;
          animation: rock 1s 1 linear;
}

@-webkit-keyframes rock {
  0%,
  70%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  20% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  30% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  40% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@-moz-keyframes rock {
  0%,
  70%,
  100% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  10% {
    -moz-transform: rotate(3deg);
         transform: rotate(3deg);
  }
  20% {
    -moz-transform: rotate(-3deg);
         transform: rotate(-3deg);
  }
  30% {
    -moz-transform: rotate(2deg);
         transform: rotate(2deg);
  }
  40% {
    -moz-transform: rotate(-2deg);
         transform: rotate(-2deg);
  }
  50% {
    -moz-transform: rotate(1deg);
         transform: rotate(1deg);
  }
  60% {
    -moz-transform: rotate(-1deg);
         transform: rotate(-1deg);
  }
}

@-o-keyframes rock {
  0%,
  70%,
  100% {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  10% {
    -o-transform: rotate(3deg);
       transform: rotate(3deg);
  }
  20% {
    -o-transform: rotate(-3deg);
       transform: rotate(-3deg);
  }
  30% {
    -o-transform: rotate(2deg);
       transform: rotate(2deg);
  }
  40% {
    -o-transform: rotate(-2deg);
       transform: rotate(-2deg);
  }
  50% {
    -o-transform: rotate(1deg);
       transform: rotate(1deg);
  }
  60% {
    -o-transform: rotate(-1deg);
       transform: rotate(-1deg);
  }
}

@keyframes rock {
  0%,
  70%,
  100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(3deg);
       -moz-transform: rotate(3deg);
         -o-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  20% {
    -webkit-transform: rotate(-3deg);
       -moz-transform: rotate(-3deg);
         -o-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  30% {
    -webkit-transform: rotate(2deg);
       -moz-transform: rotate(2deg);
         -o-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  40% {
    -webkit-transform: rotate(-2deg);
       -moz-transform: rotate(-2deg);
         -o-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
       -moz-transform: rotate(1deg);
         -o-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
       -moz-transform: rotate(-1deg);
         -o-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}


/* page-4 */

.page-4 {
  background-color: #fff;
}

.page-4__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  position: absolute;
  top: 89px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #f01414;
}

.page-4__subheading {
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 183px;
  width: 100%;
  height: 16px;
  text-align: center;
  color: #000;
}

.page-4__phones {
  padding-top: 309px;
}

.page-4__phones__item {
  float: left;
  width: 240px;
  margin-right: 70px;
  text-align: center;
}

.page-4__phones__item:hover p {
  color: #f00;
}

.page-4__phones__item:last-child {
  margin-right: 0;
}

.page-4__phones__item__pic {
  width: 240px;
  height: 270px;
  margin-bottom: 30px;
}

.page-4__phones__item__color {
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  margin-bottom: 12px;
  color: #2c3238;
}

.page-4__phones__item__memory {
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  color: #93999f;
}


/* page-4动画*/

.page-4__heading,
.page-4__subheading {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.page-4__heading_status_init {
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.page-4__subheading_status_init {
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.page-4__phones__item_i1 {
  -webkit-transition: all .5s .2s;
  -o-transition: all .5s .2s;
  -moz-transition: all .5s .2s;
  transition: all .5s .2s;
}

.page-4__phones__item_i2 {
  -webkit-transition: all .5s .4s;
  -o-transition: all .5s .4s;
  -moz-transition: all .5s .4s;
  transition: all .5s .4s;
}

.page-4__phones__item_i3 {
  -webkit-transition: all .5s .6s;
  -o-transition: all .5s .6s;
  -moz-transition: all .5s .6s;
  transition: all .5s .6s;
}

.page-4__phones__item_i4 {
  -webkit-transition: all .5s .8s;
  -o-transition: all .5s .8s;
  -moz-transition: all .5s .8s;
  transition: all .5s .8s;
}

.page-4__phones__item_i1_status_init,
.page-4__phones__item_i2_status_init,
.page-4__phones__item_i3_status_init,
.page-4__phones__item_i4_status_init {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.page-4__phones__item_i1_status_init,
.page-4__phones__item_i2_status_init,
.page-4__phones__item_i3_status_init,
.page-4__phones__item_i4_status_init {
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}


/* page-5 */

.page-5 {
  position: relative;
  background-color: #d9dde1;
}

.page-5__bg {
  position: absolute;
  z-index: 1;
  top: 493px;
  width: 100%;
  height: 307px;
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
  background: url(../img/bg-screen-5.png) center;
  -o-background-size: cover;
     background-size: cover;
}

.page-5__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  position: absolute;
  top: 189px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #f01414;
}

.page-5__subheading {
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 274px;
  width: 100%;
  height: 16px;
  text-align: center;
  color: #000;
}


/* page-5动画*/

.page-5__heading,
.page-5__subheading {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.page-5__heading_status_init {
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.page-5__subheading_status_init {
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.page-5__bg {
  -webkit-transition: all .5s .2s;
  -o-transition: all .5s .2s;
  -moz-transition: all .5s .2s;
  transition: all .5s .2s;
}

.page-5__bg_status_init {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  opacity: 0;
}


/* page-buy */

.page-buy {
  overflow: hidden;
  height: 320px;
  background: #2b333b url(../img/bg-screen-buy.png) no-repeat center;
}

.page-buy__buy-btn {
  font-size: 24px;
  line-height: 80px;
  display: block;
  width: 240px;
  height: 80px;
  margin: 120px auto 0;
  -webkit-transition: -webkit-box-shadow, -webkit-transform .3s;
  transition: -webkit-box-shadow, -webkit-transform .3s;
  -o-transition: box-shadow, -o-transform .3s;
  -moz-transition: box-shadow, transform .3s, -moz-transform .3s;
  transition: box-shadow, transform .3s;
  transition: box-shadow, transform .3s, -webkit-box-shadow, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background: #f01414;
}

.page-buy__buy-btn:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 1px 3px rgba(255, 255, 255, .3);
          box-shadow: 0 0 1px 3px rgba(255, 255, 255, .3);
}


/* footer */

.footer {
  font-size: 12px;
  line-height: 80px;
  height: 80px;
  text-align: center;
  color: #fff;
  background-color: #07111b;
}


/* 侧边栏*/

.aside-right {
  position: fixed;
  z-index: 9;
  top: 50%;
  right: 50px;
  display: none;
  margin-top: -102px;
  border-radius: 3px;
  background: #eee;
}

.aside-right_status_show {
  display: block;
}

.aside-right__item:first-child {
  border: none;
}

.aside-right__item {
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #999;
  border-top: 1px solid #ccc;
}

.aside-right__item_status_active {
  color: #f00;
}